<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Prenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #prendaForm="ngForm">
    <ion-list>
      
      <ion-item>
        <ion-input label="Título" label-placement="floating" [(ngModel)]="titulo" name="titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Descripción" label-placement="floating" [(ngModel)]="descripcion" name="descripcion" required rows="3"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input label="Fecha Agregado" label-placement="floating" type="date" [(ngModel)]="fechaAgregado" name="fechaAgregado"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select label="Estado" label-placement="floating" [(ngModel)]="estado" name="estado" required>
          <ion-select-option value="pendiente">Pendiente</ion-select-option>
          <ion-select-option value="aceptada">Aceptada</ion-select-option>
          <ion-select-option value="finalizada">Finalizada</ion-select-option>
          <ion-select-option value="rechazada">Rechazada</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Tipo de Guardado" label-placement="floating" [(ngModel)]="tipoGuardado" name="tipoGuardado" required>
          <ion-select-option value="Guardado">Guardado</ion-select-option>
          <ion-select-option value="Pendiente">Pendiente</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Categoría" label-placement="floating" placeholder="Selecciona la Categoría" [(ngModel)]="categoriaId" name="categoria" required>
          <ion-select-option *ngFor="let categoria of categoriasDisponibles" [value]="categoria.id">
            {{ categoria.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Marca" label-placement="floating" placeholder="Selecciona la Marca" [(ngModel)]="marcaId" name="marca" required>
          <ion-select-option *ngFor="let marca of marcasDisponibles" [value]="marca.id">
            {{ marca.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Tipo de Prenda" label-placement="floating" placeholder="Selecciona el Tipo" [(ngModel)]="prendaTipoId" name="prendatipo" required>
          <ion-select-option *ngFor="let tipo of prendasTipoDisponibles" [value]="tipo.id">
            {{ tipo.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-input label="Usuario (Dueño)" label-placement="floating" [(ngModel)]="usuarioNombre" name="usuario" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Imagen URL" label-placement="floating" [(ngModel)]="imagenUrl" name="imagenUrl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Colores (separados por coma)" label-placement="floating" [(ngModel)]="coloresString" name="coloresString" placeholder="Ej: Rojo, Azul, Negro"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button 
        expand="block" 
        color="primary" 
        (click)="guardarCambios()"
        [disabled]="!prendaForm.valid"
      >
        Guardar Cambios
      </ion-button>
    </ion-toolbar>
</ion-footer>