<div class="slider-container">
  <h2 class="slider-title">Novedades</h2>

  <div class="products-wrapper">
    <ion-card *ngFor="let prenda of prendas" class="product-card" button="true">
      
      <div class="product-image-container">
        <img [src]="prenda.imagenUrl" [alt]="prenda.titulo" class="product-image" />
        
        <ion-fab-button class="add-button" size="small" (click)="abrirEditarModal(prenda)">
          <img src="assets/icon/pen_rodrigo.png" alt="Borrar Prenda" class="custom-trash-icon" />
        </ion-fab-button>

        <ion-fab-button class="profile-button" size="small"
          (click)="borrarPrenda(prenda.titulo)">
          <img src="assets/icon/trash_rodrigo.png" alt="Borrar Prenda" class="custom-trash-icon" />
        </ion-fab-button>

        <ion-fab vertical="bottom" horizontal="end"> 
          <ion-fab-button class="create-button-fab" (click)="abrirCrearModal()">
            <img src="assets/icon/plus_rodrigo.png" alt="Crear Prenda" class="custom-create-button" />
          </ion-fab-button>
        </ion-fab>
      </div>

      <ion-card-content class="product-info">
        <p class="product-title">{{ prenda.titulo }}</p>
        <h3 class="product-subtitle">{{ prenda.nombreMarca }}</h3>
        <p class="product-location">{{ prenda.UsuarioNombre }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</div>
