<app-slogan-logo></app-slogan-logo>

<div class="button-container">
  
  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/camiseta.png" alt="Icono Prestar" class="icon left-icon">
      <span class="button-text">Camisetas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/t-shirt.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Camisas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/trousers.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Pantalones</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/hoodie.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Sudaderas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/jacket.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Chaquetas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/abrigo.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Abrigos</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

    <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/dress.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Vestidos</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/skirt.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Faldas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/suit.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Trajes</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/tracksuit.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Chandals</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/PIJAMA.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Pijamas</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

</div>



<app-navegation-bar></app-navegation-bar>

