
<app-logo-con-fondo></app-logo-con-fondo>

<ion-item class="email-item">
  <ion-input
    label="Correo electrónico"
    label-placement="floating"
    placeholder="rbernal.....@gmail.com">
  </ion-input>

    <img src="assets/icon/email-icon.png" slot="end" class="icono-derecha">

</ion-item>

<ion-item class="password-item">
    <ion-input type="password" label="Password" value="KeepWorking">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
</ion-item>

<p class="forgot-password">¿Olvidaste tu contraseña?</p>

<button class="login-button">
  Log In 
  <img src="assets/icon/login-icon.png" alt="arrow" class="arrow-icon">
</button>

<div class="divider-container">
  <div class="divider-line"></div>
  <span class="divider-text">or sign up with</span>
  <div class="divider-line"></div>
</div>

<div class="rrss-buttons">
  <button class="social-btn">
    <img src="assets/icon/facebook.png" alt="facebook">
  </button>
   <button class="social-btn">
    <img src="assets/icon/chrome.png" alt="Google Chrome">
  </button>
   <button class="social-btn">
    <img src="assets/icon/instagram.png" alt="Instagram">
  </button>
</div>


<div class="account-text">
  <p>Don't have an account? </p>
  <a href="#" class="auth-link">Create one</a>
</div>

<div class="auth-links-bottom">
  <a href="#" class="auth-link">Privacidad y<br>términos de uso</a>
  <a href="#" class="auth-link">¿Necesita ayuda?</a>
</div>