.logo-container {
    position: absolute;
    left: 13%;
    top: 1%;
    transform: translateX(50%,50%);
    width: 319px;
    height: auto;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
}

.slogan-text {
  font-family: 'Source Serif Pro', serif;
  color: black;
  margin-top: 0px; 
  text-align: center;
}