<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva Prenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="camera-box">
    <video #video autoplay playsinline [hidden]="fotoCapturadaSafe"></video>
    <img [src]="fotoCapturadaSafe" *ngIf="fotoCapturadaSafe" class="preview-img" />
    <canvas #canvas style="display: none;"></canvas>

    <div class="camera-controls">
      <ion-button *ngIf="!stream && !fotoCapturadaSafe" (click)="iniciarCamara()" color="tertiary">
        <ion-icon name="camera" slot="start"></ion-icon> Abrir Cámara
      </ion-button>
      <ion-button *ngIf="stream && !fotoCapturadaSafe" (click)="tomarFoto()" color="secondary">
        <ion-icon name="aperture" slot="start"></ion-icon> Capturar
      </ion-button>
      <ion-button *ngIf="fotoCapturadaSafe" (click)="reintentarFoto()" color="warning" size="small">
        <ion-icon name="refresh" slot="start"></ion-icon> Nueva Foto
      </ion-button>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-input label="Título" label-placement="floating" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Descripción" label-placement="floating" [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select label="Estado" label-placement="floating" [(ngModel)]="estado">
        <ion-select-option value="Prestamo">Préstamo</ion-select-option>
        <ion-select-option value="Intercambio">Intercambio</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Tipo de Guardado" label-placement="floating" [(ngModel)]="tipoGuardado">
        <ion-select-option value="Guardado">Guardado</ion-select-option>
        <ion-select-option value="Pendiente">Pendiente</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Categoría" label-placement="floating" [(ngModel)]="categoriaId">
        <ion-select-option *ngFor="let c of categoriasDisponibles" [value]="c.id">{{ c.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Marca" label-placement="floating" [(ngModel)]="marcaId">
        <ion-select-option *ngFor="let m of marcasDisponibles" [value]="m.id">{{ m.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Tipo de Prenda" label-placement="floating" [(ngModel)]="prendaTipoId">
        <ion-select-option *ngFor="let t of prendasTipoDisponibles" [value]="t.id">{{ t.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-input type="number" label="ID Usuario" label-placement="floating" [(ngModel)]="usuarioId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="ID Imagen" label-placement="floating" [(ngModel)]="imagenId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="IDs Colores (ej: 1, 2)" label-placement="floating" [(ngModel)]="coloresString"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="guardarPrenda()">
    Publicar Prenda
  </ion-button>
</ion-content>