
<app-logo-con-fondo></app-logo-con-fondo>

<ion-item class="nombre-item">
  <ion-input
    label="Nombre Completo"
    label-placement="floating"
    placeholder="Rodrigo">
  </ion-input>

    <img src="assets/icon/nombre.png" slot="end" class="icono-derecha-grande">

</ion-item>

<ion-item class="email-item">
  <ion-input
    label="Email"
    label-placement="floating"
    placeholder="jfuentes....@safareyes.es">
  </ion-input>

    <img src="assets/icon/email-icon.png" slot="end" class="icono-derecha-pequeña">

</ion-item>

<ion-item class="usuario-item">
  <ion-input
    label="Usuario"
    label-placement="floating"
    placeholder="TheRedBoy_11">
  </ion-input>

    <img src="assets/icon/nombre.png" slot="end" class="icono-derecha-pequeña">

</ion-item>

<ion-item class="password-item password-item-above">
    <ion-input type="password" label="Password" value="KeepWorking">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
</ion-item>

<ion-item class="password-item password-item-bottom">
    <ion-input type="password" label="Password" value="KeepWorking">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
</ion-item>