.nombre-item {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  --background: transparent;
}

.nombre-item ion-input {
  --border-color: black;
  --highlight-color-focused: #0050c7;
  --border-radius: 8px;
}

.icono-derecha-grande {
  width: 32px;    
  height:32px;  
  margin-right: 1px;
  cursor: pointer;   
}

.email-item {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  --background: transparent;
}

.email-item ion-input {
  --border-color: black;
  --highlight-color-focused: #0050c7;
  --border-radius: 8px;
}

.icono-derecha-pequeña {
  width: 24px;    
  height:24px;  
  margin-right: 1px; 
  cursor: pointer;   
}

.usuario-item {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  --background: transparent;
}

.usuario-item ion-input {
  --border-color: black;
  --highlight-color-focused: #0050c7;
  --border-radius: 8px;
}

.password-item {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  --background: transparent;

  &.password-item-above {
    top: 51%; 
  }

  &.password-item-bottom {
    top: 59%; 
  }

  ion-input {
    --border-color: black;
    --highlight-color-focused: #0050c7;
    --border-radius: 8px;
  }
}