<app-logo-con-fondo></app-logo-con-fondo>


<div class="form-container">

  <ion-item class="name-item">
    <ion-input
      label="Nombre Completo"
      label-placement="floating"
      placeholder="Tu nombre completo">
    </ion-input>
    <img src="assets/icon/nombre.png" slot="end" class="icono-derecha-pequeña">
  </ion-item>

  <ion-item class="email-item">
    <ion-input
      label="Email"
      label-placement="floating"
      placeholder="tu@email.com"
      [(ngModel)]="email">
    </ion-input>
    <img src="assets/icon/email-icon.png" slot="end" class="icono-derecha-pequeña">
  </ion-item>

  <ion-item class="nickname-item">
    <ion-input
      label="Nickname"
      label-placement="floating"
      placeholder="Tu apodo o alias">
    </ion-input>
    <img src="assets/icon/usuario.png" slot="end" class="icono-derecha-pequeña">
  </ion-item>

  <ion-item class="password-item">
    <ion-input 
      type="password" 
      label="Password" 
      label-placement="floating"
      placeholder="••••••••"
      [(ngModel)]="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <ion-item class="password-item">
    <ion-input 
      type="password" 
      label="Confirmar Password"
      label-placement="floating"
      placeholder="••••••••"
      [(ngModel)]="confirmPassword">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <div class="validation-container">
    <div class="validation-item" [class.checked]="passwordsMatch">
      <ion-checkbox
        [checked]="passwordsMatch"
        [disabled]="true"
        labelPlacement="end">
        Contraseñas coinciden
      </ion-checkbox>
    </div>

    <div class="validation-item" [class.checked]="hasMinLength">
      <ion-checkbox
        [checked]="hasMinLength"
        [disabled]="true"
        labelPlacement="end">
        La contraseña tiene al menos 8 letras
      </ion-checkbox>
    </div>

    <div class="validation-item" [class.checked]="isValidEmail">
      <ion-checkbox
        [checked]="isValidEmail"
        [disabled]="true"
        labelPlacement="end">
        Ingresa un correo válido
      </ion-checkbox>
    </div>
  </div>
  <button class="submit-button" (click)="onSubmit()">
    Sign Up
  </button>

</div>
<div class="auth-links-bottom">
  <a href="#" class="auth-link">Privacidad y<br>términos de uso</a>
  <a href="#" class="auth-link">¿Necesita ayuda?</a>
</div>


