app-slogan-logo {
  display: block;
  position: relative;
  z-index: 20;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  padding-bottom: 100px;
  background-color: transparent !important;
  height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;
  z-index: 1;
  left:50%;
  top:50%;
  transform: translate(-50%,-45%);
}

.button-container::before {
  content: '';
  position: sticky;
  top: 0;
  display: block;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.95) 50%, transparent 100%);
  pointer-events: none;
  z-index: 10;
  margin: -20px -20px 0 -20px;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  font-size: 1.25rem;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 6.5px 9px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
  position: relative;
  z-index: 1;
}

.custom-button:hover {
  background-color: #f9f9f9;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  height: 33px;
  width: 33px;
}

.left-icon {
  margin-right: 15px;
}

.right-icon {
  font-size: 1.8rem;
  color: #333;
}

.button-text {
  font-family: 'Source Serif Pro', serif;
  font-weight: 532;
  color: #333;
}

.button-container::-webkit-scrollbar {
  display: none;
}
