<app-slogan-logo></app-slogan-logo>

<div class="button-container">
  
  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/clothes-hanger.png" alt="Icono Prestar" class="icon left-icon">
      <span class="button-text">Ropa</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/shoes.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Calzado</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/handbag.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Accesorios</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/belt.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Cinturones</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/hat.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Gorras</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/sunglasses.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Gafas solares</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

    <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/shoes.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Calzado</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/handbag.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Accesorios</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/belt.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Cinturones</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/hat.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Gorras</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/sunglasses.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Gafas solares</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

</div>



<app-navegation-bar></app-navegation-bar>

