<<<<<<< HEAD

:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #DAD4E3 0%,
    #DAD4E3 25%,
    #CABBD3 50%,
    #9D9CD4 100%
  );
}
=======
>>>>>>> 39842dd9764e7656392c8677b9703c12b3765b95
