ion-footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}

ion-toolbar {
  --background: #f5f5f5;
  --border-width: 1px 0 0 0;
  --border-color: #d0d0d0;
  --min-height: 60px; 
}

.navigation-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  gap: 25px;
}

ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --color: #000000;
  transition: transform 0.3s ease;
  height: 100%;
}

ion-icon {
  font-size: 40px;
  font-weight: bold;
  stroke-width: 2px;
  transition: transform 0.3s ease;
}

ion-button.active-button ion-icon {
  transform: scale(1.3);

}