<div class="button-container">
  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icons/prestar-icon.svg" alt="Icono Prestar" class="icon left-icon">
      <span class="button-text">Prestar</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onIntercambiarClick()">
    <div class="content-wrapper">
      <img src="assets/icons/intercambiar-icon.svg" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Intercambiar</span>
    </div>
    <span class="icon right-icon">></span>
  </button>
</div>