<app-slogan-logo></app-slogan-logo>

<div class="button-container">
  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/bag.png" alt="Icono Prestar" class="icon left-icon">
      <span class="button-text">Prestar</span>
    </div>
    <span class="icon right-icon">></span>
  </button>

  <button class="custom-button" (click)="onPrestarClick()">
    <div class="content-wrapper">
      <img src="assets/icon/exchange.png" alt="Icono Intercambiar" class="icon left-icon">
      <span class="button-text">Intercambiar</span>
    </div>
    <span class="icon right-icon">></span>
  </button>
</div>

<app-navegation-bar></app-navegation-bar>