.slider-container {
  width: 96.7%;
  background: transparent;
  padding: 10px 0 24px 0;
  position: relative; 
  top: 50px;
  margin-left: 10px;
  margin-left: 20px;
  min-height: 350px; 
  height: auto;
  left:-50%;
  top:13.5%;
  transform: translate(50%,50%);
  --padding-start: 16px;
  --padding-end: 16px;
}

.slider-title {
  font-size: 18px;
  color: #000000;
  margin: 0 0 20px 8px;
  padding: 0;
  margin-left: 20px;
}

.slider-content {
  --background: transparent;
  --padding-start: 16px;
  --padding-end: 16px;
}

.products-wrapper {
  display: flex;
  gap: 24px;
  padding-bottom: 16px;
  min-height: 250px; 
  overflow-x: scroll; 
  overflow-y: hidden;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}



.product-card {
  min-width: 280px;
  max-width: 280px;
  margin: 0;
  border-radius: 16px;
  background-color: #FFFFFF; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}

.product-image-container {
  position: relative;
  height: 192px;
  background-color: #f3f4f6;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;

  .product-card:hover & {
    transform: scale(1.05);
  }
}

.add-button {
  position: absolute;
  top: 16px;
  left: 16px;
  --background: #7238df;
  --background-hover: rgrgba(30, 17, 219, 0.9)
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --color: #ffffff; 
}

.profile-button {
  position: absolute;
  top: 16px;
  right: 16px;
  --background: transparent;
  --box-shadow: none; 
  
  ion-icon {
    color: #FFFFFF; 
    font-size: 28px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)); 
  }
}

.product-info {
  padding: 20px;
}

.product-title { 
  font-size: 18px;
  color: #333333; 
  font-weight: 500;
  margin: 0 0 4px 0;
}

.product-subtitle { 
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 4px 0;
}

.product-location { 
  font-size: 18px;
  color: #666666;
  margin: 0;
}

ion-content::part(scroll) {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
